@import 'tailwindcss';

@theme {
  --color-electricBlue: #4d9ad3;
  --color-electricGreen: #76e05e;
  --color-electricPurple: #9148c9;
  --color-electricPink: #e13884;
  --color-electricOrange: #ec9136;
  --font-open-sans: var(--font-open-sans);
  --font-decorative: var(--font-cinzel);
}

body {
  @apply font-open-sans bg-black text-xl text-white;
}

main {
  @apply p-2;
}

a:hover {
  @apply underline;
}

nav a {
  @apply font-decorative text-3xl font-semibold tracking-tighter text-black transition-all duration-500 hover:tracking-wider;
}

footer a {
  @apply text-sm;
}
